<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
    	<h4 class="footer-heading">{{ site.title | escape }}</h4>
	<p><a href="https://ebbandember.com" class="button brown" target="_blank">Ebb & Ember Floating Saunas</a></p>
      </div>

      <div class="footer-col footer-col-2">
    	<h4 class="footer-heading">Address</h4>
	{%- if site.address -%}
        <p>{{- site.address -}}</p>
	<p><a href="http://maps.apple.com/?q={{- site.address | replace: ' ', '+' | replace: ',', '' | replace: '<br>', '' -}}" target="_blank">Map</a></p>
	{%- endif -%}
	{%- if site.geo_link -%}
	<p><a href="{{- site.geo_link -}}" target="_blank">Mobile Map</a></p>
	{%- endif -%}
      </div>

      <div class="footer-col footer-col-3">
    	<h4 class="footer-heading">Connect</h4>
        <ul class="contact-list">
	  {%- if site.phone -%}
	  <li><a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
	  {%- endif -%}
          {%- if site.email -%}
	  <li><p>Marina: <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p></li>
          {%- endif -%}
        </ul>
      </div>
    </div>

  </div>

</footer>
