<div class="hero">
  <div class="wrapper">
    <h1>Moorage & Recreation</h1>
    <p>Affordable, deep-water moorage on the Columbia River awaits you—enjoy easy access, stunning views, and peace of mind knowing your sailboat is safely docked in one of Portland’s most convenient and boater-friendly marinas.</p>
    <p>We offer convenient kayak, canoe, and stand-up paddleboard rentals as well as secure, easy-access storage, ensuring your gear is always ready when the water calls. Visit us for the perfect launch point for your next river adventure.</p>
    <ul class="sub-menu">
      <li><a href="#info">Info</a></li>
      <li><a href="#rates">Rates</a></li>
      <li><a href="#reserve">Reserve</a></li>
      <li><a href="#faq">FAQ</a></li>
    </ul>
  </div>
</div>
