<div class="container">
  <div class="left">
    <h3>Boat Slips</h3>

    <div class="marina-item">
      <h4>Side-Tie Slips, Inner Side of Docks</h4>
      <p class="desc">Available monthly and seasonally, these protected slips are inside of our docks and suitable for boats up to 25 feet.</p>
      <p class="price">$185/month</p>
    </div>

    <div class="marina-item">
      <h4>Angled Slips</h4>
      <p class="desc">Available on long-term agreement only (not available seasonally). These popular slips accommodate boats up to 45 feet with room for your dock box.</p>
      <p class="price">$235/month</p>
    </div>
  
    <div class="marina-item">
      <h4>End Slips</h4>
      <p class="desc">Located at the ends of our main docks, these slips accommodate boats 20–30 feet, depending on location.</p>
      <p class="price">$235/month</p>
    </div>

  </div>

  <div class="right">
    <h3>Recreational & Homes</h3>

    <div class="marina-item">
      <h4>Floating Homes</h4>
      <p class="desc">No floating home slips are available at this time. Contact local realtors to inquire about floating homes for sale. Short-term rentals are prohibited.</p>
      <p class="price"></p>
    </div>

    <div class="marina-item">
      <h4>Kayaks, Canoes, SUPs</h4>
      <p class="desc">Why wrestle a kayak when you could store it next to the water? Keep your kayak, canoe, or stand up paddleboard (SUP) on our docks for a quick launch with no hassle.</p>
      <p class="price">$40/month for 1<br>$60/month for 2</p>
    </div>

  </div>
</div>
