---
---
@import minima
@import fonts
@import colors

html
  width: 100%
  margin: 0

body
  background: $offwhite
  width: 100%
  margin: 0
  padding: 0
  font-family: $jakarta
  font-size: 17px
  line-height: 31px
  letter-spacing: -0.02em

.site-header
  position: sticky
  top: 0
  background: $brown
  border-top: 0
  border-bottom: 0
  padding: 0
  height: 76px
  .wrapper
    display: flex
    align-items: center
    height: 76px
    margin: 0 auto
    max-width: 78%
    .site-nav
      margin-left: 40px
      a
        color: $navy
        transition: color 0.25s ease
        &:active, &:hover
          color: $offwhite
          text-decoration: none


.main-content, .page-content
  padding: 0
  .wrapper
    max-width: 100%
    width: 100%
    margin: 0 auto
    padding: 0

.hero
  background: $navy
  height: 330px
  .wrapper
    max-width: 78%
    margin: 0 auto
    color: $offwhite
    padding-top: calc(100vw * 0.03)
    h1
      font-family: $montaga
      font-size: 46px
      line-height: 56px
      font-weight: 400
      letter-spacing: -0.03em
      color: $offwhite
    p
      margin-top: -8px
      padding-bottom: 1.1em
      width: 65.5%

.sub-menu
  background: $navy
  position: sticky
  height: 50px
  top: 76px
  z-index: 100
  ul
    padding-top: 5px
    margin-left: 206px
    display: flex
    list-style-type: none
    flex-direction: row
    gap: .75em
    li
      display: inline-block
      justify-content: flex-start
      padding: 0.25em .5em
      a
        color: $offwhite
        opacity: .7
        transition: opacity 0.25s ease
        &:hover
          text-decoration: none
          opacity: 1

.sections
  padding-top: 10vw
  max-width: 78%
  margin: 0 auto
  .container
    display: flex
    flex-direction: row
    .left
      gap: 1em
      width: 50%
    .right
      gap: 1em
      width: 50%
    .front
      margin-top: -200px
    .marina-item
      border: 1px solid rgba(0,0,0,.15)
      width: 90%
      margin-bottom: 20px
      padding: 20px
      display: flex
      flex-direction: row
      align-items: center
      transition: border 0.3s ease
      &:hover
        border: 1px solid rgba(0,0,0,.3)
        box-shadow: 1px 1px 1px rgba(0,0,0,.25)
      h4
        width: 23%
      .desc
        width: 52%
      .price
        width: 25%
        text-align: center
  .accordion
    input[type="radio"]
      appearance: none
      position: fixed
      top: -100vh
      left: -100vh
      & ~ .answer
        padding-left: 20px
        max-height: 0
        overflow: hidden
        transition: max-height 500ms
      &:checked ~ div
        max-height: 1000px
    h3
      display: block
      cursor: pointer
      color: $navy
      transition: color 500ms ease
      &:hover
        color: $brown

h2
  padding-top: 50px

h2, h3, h4
  font-family: $montaga
  font-size: 46px
  line-height: 56px
  font-weight: 400
  letter-spacing: -0.03em
  color: $navy

h3, h4
  font-size: 25px
  line-height: 38px

footer
  background: $navy