<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body >
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="container">
        <div class="left"> 
        {{ content }}
	</div>
	<div class="right">
	{%- include slider.html selector='about_slider' -%}
	</div>
      </div>
    </main>
    {%- include footer.html -%}
    {%- include slider-styles.html -%}
    {%- include slider-scripts.html -%}
  </body>

</html>
